/* CSS crunched with Crunch - http://crunchapp.net/ */
.navbar .navbar-brand {
    background: #ea4848;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #ea4848;
}

.dropdown-menu {
    background-color: #ea4848;
}

a {
    color: #ea4848;
}

.main-color {
    color: #ea4848;
}

.slides-navigation a:hover {
    background: #ea4848;
}

.slides-pagination a.current {
    background: #ea4848;
}

.header-center a:hover {
    color: #ea4848;
}

.totop:hover span > a.hover {
    color: #ea4848;
}

.left-icon .icon {
    background: #ea4848;
}

.styled div span {
    background: #ea4848;
}

footer.footer {
    background: #ea4848;
}

.post .post-meta .post-icon:hover {
    background: #ea4848;
}

.post .post-meta span a {
    color: #ea4848;
}

.post .read-more {
    border: 1px solid #ea4848;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: #ea4848;
}

.mejs-horizontal-volume-current {
    background: #ea4848;
}

.skill-bar ul li .bar {
    background: #ea4848;
}

.pagination .pag-prev a,
.pagination .pag-next a {
    background: #ea4848;
    border-color: #ea4848;
}

.testimonial-list .testimonial-item a.current ~ .testi-link,
.testimonial-list .testimonial-item a:hover ~ .testi-link {
    background: rgba(234, 72, 72, 0.8);
}
